%h2 Sprawdź gracza



%ul.forms
  - worlds = Hash[World.all.map{|w| ["#{w.language_id} - #{w.front}", w.id]}]

  = select_tag(:world_id, options_for_select(worlds, current_user.default_front_id), :class=>"world_id")

= button_tag "Więcej", :class => "add-form"

%ul.spies
  - @spies.each do |spy|
    %li{:class => ("in-progress" unless spy.completed?)}
      = spy.bank_level
      = spy.player.player_name
      = spy.created_at
      - unless spy.completed?
        = hidden_field_tag "spy_id", spy.id
        = button_tag "Refresh", :class => "refresh"
       
      .status
      