%h2 Sprawdź gracza

= button_tag "Więcej", :class => "add-form"

%ul.forms


%ul.spies
  - @spies.each do |spy|
    %li{:class => ("in-progress" unless spy.completed?)}
      = spy.bank_level
      = spy.player.player_name
      = spy.created_at
      - unless spy.completed?
        = hidden_field_tag "spy_id", spy.id
        = button_tag "Refresh", :class => "refresh"
       
      .status
      