%h2 Sprawdź gracza

.form
  .status
  .progress

  = hidden_field_tag :player_id

  .find
    = text_field_tag :player_name
    = submit_tag "Szukaj", :class => "find"
    
  
  .check
    = submit_tag "Sprawdź dostępność", :disabled => true
    
  
  .create
    = submit_tag "Szpieguj gracza", :disabled => true
      
    
      
.form
  .status
  .progress

  = hidden_field_tag :player_id

  .find
    = text_field_tag :player_name
    = submit_tag "Szukaj", :class => "find"


  .check
    = submit_tag "Sprawdź dostępność", :disabled => true


  .create
    = submit_tag "Szpieguj gracza", :disabled => true



