%h2 Sprawdź gracza



%ul.forms
  = label_tag(:language, "Language")
  = select_tag(:language, options_from_collection_for_select(Language.all, :name, :name, current_user.default_language_id), :class => "language")
  = label_tag(:world_id, "Front")
  = select_tag(:world_id, options_for_select(World.all.map{|w| [w.front, w.id, {:class => w.language_id}]}, current_user.default_front_id), :class=>["world_id", "front"])

= button_tag "Więcej", :class => "add-form"

%ul.spies
  - @spies.each do |spy|
    %li{:class => ("in-progress" unless spy.completed?)}
      = spy.bank_level
      = spy.player.player_name
      = spy.created_at
      - unless spy.completed?
        = hidden_field_tag "spy_id", spy.id
        = button_tag "Refresh", :class => "refresh"
       
      .status
      