!!!
%html
  %head
    %title DesertOperations
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application" 
    = csrf_meta_tag

  %body

    .top
      = link_to "Home", root_path
      = link_to "Spy players", spy_path
      = link_to "Account settings", account_settings_path
      - if current_user
        .user-panel
          Balance:
          %span.balance= current_user.balance
    .alert
      = alert
    .notice
      = notice
      
    = yield

